<!-- src/views/index.ejs -->
<%- include('partials/header', { title: 'Projecte Incidencies' }) %>
  <h1>Benvingut al projecte de Incidencies!</h1>
  <p>Aquesta és la pàgina d’inici, renderitzada amb EJS.</p>
<%- include('partials/footer') %>