<!-- src/views/index.ejs -->
<%- include('partials/header', { title: 'Projecte Incidencies' }) %>
  <h1>Benvingut al projecte de Incidencies!</h1>
  <p>Aquesta és la pàgina d’inici, renderitzada amb EJS.</p>
  <a class="btn btn-primary mb-3" href="/incidencies/new">Afegir Incidencia</a>

<%- include('partials/footer') %>