<%- include('../partials/header', { title: 'Afegir Incidència' }) %>

<div class="container mt-4">
  <h1 class="mb-4">Nova Incidència</h1>

  <form action="/incidencies/create" method="POST">
    <div class="mb-3">
      <label for="descripcio" class="form-label">Descripció</label>
      <input
        type="text"
        id="descripcio"
        name="descripcio"
        class="form-control"
        placeholder="Introdueix la descripció"
        required
      />
    </div>

    <div class="mb-3">
      <label for="id" class="form-label">Departament</label>
      <select name="id" class="form-select">
        <% departaments.forEach(departament => { %>
          <option value="<%= departament.id %>"><%= departament.nom_dpt %></option>
        <% }) %>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Crear Incidència</button>
    <a href="/" class="btn btn-secondary ms-2">Cancel·lar</a>
  </form>
</div>

<script>
  window.onload = function() {
    // Desactivar els enllaços del header quan es carrega la vista
    document.getElementById("projecte-link").style.pointerEvents = "none";
    document.getElementById("incidencies-link").style.pointerEvents = "none";
  }
</script>

<%- include('../partials/footer') %>
